"*":
  "autocomplete-plus": {}
  core:
    audioBeep: false
    themes: [
      "solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "0521511c-8371-76de-eb8d-e549bc2bdb8e"
  linter: {}
  "preview-plus": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  "file-types":
    ".*.yml$": "source.ansible"
    ".*/group_vars/.*": "source.ansible"
    ".*/host_vars/.*": "source.ansible"
